body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 40px;
    text-align: center;
}

h1 {
    color: #750080;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(131, 86, 127);
    background-color: #7c3573;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c7366e;
}
